{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "env": {
      "browser": true,
      "node": true,
      "jasmine": true
    },

    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/extensions": [".js", ".jsx"],
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      },
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
