{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "import/no-extraneous-dependencies": 0
  },
  "settings": {
    "import/extensions": [".js", ".jsx", "css", "scss"],
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.common.js"
      },
      "node": {
        "moduleDirectory": ["src"]
      }
    }
  }
}
