html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    .app {
      width: 90%;
      height: 90%;

      max-width: 800px;
      max-height: 800px;

      line-height: 0;
    }
  }
}
