<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>pixi-boilerplate</title>
</head>
<body>
    <div class="app" id="app">
    </div>
    <% for (var js in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
    <% } %>
</body>
</html>